  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title>Opiates Analysis</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../static/matt_style.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="text-align: center;">U.S. Opiates Analysis</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <ul class="dropdown-menu">
                            <li>
                                <a href="overdoses.html">Overdoses</a>
                            </li>
                            <li>
                                <a href="prescriptions.html">Prescriptions</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="data">Data</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="container">
            <div class="col-md-12">
                <div class="sigline">
                    <p>
                       | Taylot Vought, Kruti Ghandi, Matthew Quilay |
                    </p>
                </div>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="row row-grid">
            <div class="col-md-8">
                <div class="box box-left">
                    <section id="intro">
                        <h1>Summary</h1>
                        <hr>

                        <section id="summary">
                            <p>Accidental deaths by prescription opioids is a rising trend in the United States. 
                               This visualization graphs the death totals for each of the 50 states. 
                            </p>

                        </section>

                    </section>
                </div>
                <div id="plot1"></div>
                <div id="plot2"></div>
            </div>

            <div class="col-md-4">
                    <h2>Selection</h2>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-md-12">
                            <a href="prescriptions"><div class="panel-heading" style="text-align: center; font-size: larger;">Filter "Opioid Deaths By State"</div></a>
                            <!-- <div class="panel-heading" style="text-align: center; font-size: larger;">Filter "Opioid Deaths By State"</div> -->
                            <div class="panel-body">
                            <form1>
                            <div class="form-group">
                            <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                            <label for="date">Enter States (Capitalized and comma separated)</label>
                            <!-- <label for="date">Enter States (Capitalized and comma separated) PLOT 2</label> -->
                            <input class="form-control" id="state1" type="text" placeholder="Ex:Alaska,Colorado,California">
                            <!-- <input class="form-control" id="state2" type="text" placeholder="California"> -->
                            <button id="filter-btn1" type="button" class="btn btn-default">Filter Plot </button>
                            <!-- <button id="filter-btn2" type="button" class="btn btn-default">Filter Plot 2</button> -->
                            </form1>
                            </div>
                    </div>
                    <div class='row'>
                    <div class="col-xs-6 col-sm-3 col-md-12">
                        <a href="overdoses"><div class="panel-heading" style="text-align: center; font-size: larger;">Filter "Opioid Deaths Per 100,000 People (2014)"</div></a>
                        <!-- <div class="panel-heading" style="text-align: center; font-size: larger;">Filter "Opioid Deaths Per 100,000 People (2014)"</div> -->
                        <div class="panel-body">
                        <form2>
                        <div class="form-group">
                            <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                            <label for="date">Enter States (Capitalized and comma separated)</label>
                            <input class="form-control" id="state2" type="text" placeholder="Ex:Alaska,Colorado,California">
                            <button id="filter-btn2" type="button" class="btn btn-default">Filter Plot</button>
                            </ul>
                        </form2>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"crossorigin="anonymous"></script>
    <script src="../static/plots.js" type="text/javascript"></script>

</body>

</html>
